<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>cc.colorto.proxydetox</string>
    <key>ProgramArguments</key>
    <array>
      <string>/opt/proxydetox/bin/proxydetox</string>
      <string>--exit-idle-time</string>
      <string>1800</string>
      <string>--activate-socket</string>
      <string>Listeners</string>
    </array>
    <key>KeepAlive</key>
    <dict>
    <key>SuccessfulExit</key>
    <false/>
    </dict>
    <key>Sockets</key>
    <dict>
      <key>Listeners</key>
      <dict>
        <key>SockNodeName</key>
        <string>127.0.0.1</string>
        <key>SockServiceName</key>
        <string>3128</string>
        <key>SockType</key>
        <string>stream</string>
        <key>SockProtocol</key>
        <string>TCP</string>
        <key>SockFamily</key>
        <string>IPv4</string>
      </dict>
    </dict>
    <key>SoftResourceLimits</key>
    <dict>
      <key>NumberOfFiles</key>
      <integer>65536</integer>
    </dict>
  </dict>
</plist>
