common --enable_bzlmod

build --verbose_failures

build --flag_alias=features=//:features

build --verbose_failures

test --test_output=errors
test --test_arg=--nocapture

# Required for Bazel 6, see https://github.com/bazelbuild/rules_rust/issues/2665
build --incompatible_merge_fixed_and_default_shell_env

build --enable_platform_specific_config

build:macos --apple_crosstool_top=@local_config_apple_cc//:toolchain
build:macos --crosstool_top=@local_config_apple_cc//:toolchain
build:macos --host_crosstool_top=@local_config_apple_cc//:toolchain
# build:macos --macos_cpus=arm64
# build:macos --macos_cpus=x86_64

build:x86_64_apple_darwin --platforms=:x86_64-apple-darwin
build:x86_64_apple_darwin --cpu=darwin_x86_64

build:aarch64_apple_darwin --platforms=:aarch64-apple-darwin
build:aarch64_apple_darwin --cpu=darwin_arm64

build:release --compilation_mode=opt
build:release --strip=always
build:release --@rules_rust//rust/settings:extra_rustc_flag=-Cstrip=debuginfo
build:release --@rules_rust//rust/settings:extra_rustc_flag=-Copt-level=z
build:release --@rules_rust//rust/settings:extra_rustc_flag=-Cdebuginfo=0
build:release --@rules_rust//rust/settings:extra_rustc_flag=-Clto=true
build:release --@rules_rust//rust/settings:extra_rustc_flag=-Ccodegen-units=1

# Always display the flags being used
common:ci --announce_rc

# UI for cleaner CI output
common:ci --color=no
common:ci --curses=no
common:ci --show_timestamps
# common:ci --ui_event_filters=-info
# common:ci --noshow_progress

build:ci --disk_cache=~/.cache/bazel_build_cache
build:ci --repository_cache=~/.cache/bazel_repo_cache

try-import %workspace%/user.bazelrc
