build --verbose_failures

build --flag_alias=features=//:features

build --verbose_failures

test --test_output=errors

build --enable_platform_specific_config

build:macos --apple_crosstool_top=@local_config_apple_cc//:toolchain
build:macos --crosstool_top=@local_config_apple_cc//:toolchain
build:macos --host_crosstool_top=@local_config_apple_cc//:toolchain

build:x86_64_apple_darwin --platforms=:x86_64-apple-darwin
build:x86_64_apple_darwin --cpu=darwin_x86_64

build:aarch64_apple_darwin --platforms=:aarch64-apple-darwin
build:aarch64_apple_darwin --cpu=darwin_arm64

# Always display the flags being used
common:ci --announce_rc

# UI for cleaner CI output
common:ci --color=no
common:ci --curses=no
common:ci --show_timestamps
common:ci --ui_event_filters=-info
common:ci --noshow_progress

build:ci --disk_cache=~/.cache/bazel_build_cache
build:ci --repository_cache=~/.cache/bazel_repo_cache

try-import %workspace%/user.bazelrc
