[package]
name = "proxydetox"
version = "0.5.5"
edition = "2021"
homepage = "https://proxydetox.colorto.cc/"

[features]
default = ["negotiate"]
negotiate = ["cross-krb5"]

[target.'cfg(unix)'.dependencies]
libc = "0.2"

[target.'cfg(target_os = "linux")'.dependencies]
inotify = "0.10"

[dependencies]
chrono = "0.4"
clap = "3.1"
cross-krb5 = { version = "0.3", default-features = false, optional = true }
base64 = "0.13"
bytes = "1.1"
detox_net = { path = "../detox_net" }
dirs = "4.0"
env_logger = "0.9"
futures-util = { version = "0.3", default-features = false }
http = "0.2"
hyper = { version = "0.14", features = ["http1", "http2", "client", "server", "stream", "tcp"] }
netrc = { git = "https://github.com/kiron1/netrc-rs", branch = "modernize" }
paclib = { path = "../paclib" }
proxy_client = { path = "../proxy_client" }
thiserror = "1.0"
tokio = { version = "1", features = ["rt-multi-thread", "net", "macros", "sync", "signal"] }
tokio-stream = { version = "0.1", features = ["sync"] }
tracing = "0.1"
tracing-attributes = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
tracing-futures = "0.2"
tower = { version = "0.4", features = ["util"] }

[lib]
doctest = false
