Package: proxydetox
Version: ${version}-1
Depends: libc6 (>= 2.34), libgssapi-krb5-2 (>= 1.17)
Section: net
Priority: optional
Architecture: amd64
Maintainer: Kiron <kiron1@gmail.com>
Description: Proxydetox
 A proxy for localhost to simplify life with corperate proxies.

