[Unit]
Description=Proxydetox Daemon
Documentation=https://proxydetox.colorto.cc/
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=${prefix}/bin/proxydetox
KillMode=process
RestartSec=5s
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=default.target

