#
# 1. Copy this file to `~/.config/systemd/user/proxydetox.service`
# 2. Run: systemctl --user enable proxydetox.service
# 3. Run: systemctl --user start proxydetox.service
#

[Unit]
Description=Proxydetox Daemon
Documentation=https://github.com/kiron1/proxydetox
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=%h/.cargo/bin/proxydetox
KillMode=process
RestartSec=5s
Restart=on-failure

[Install]
WantedBy=default.target

